a, a:hover, a:visited, a:focus{
	text-decoration: none;
	color: none;
}

body, html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url(../images/chicago_in_ruins_edited.jpg);
	background-size: 100% auto;
}

@media (max-width: 600px){
	
}

/* =======================================
   > Top Navigation
   =======================================
*/

.top_navi{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	background: #1C1C1C;
	padding: 6px;
	font-family: 'Roboto Condensed';
	font-size: 20pt;
	color: white;
	overflow: auto;
}

.left_navi{
	width: 35%;
	float: left;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 17px;
	text-shadow: 1px 2px 2px white;
	transition: all 0.4s linear;
	text-align: center;
}

.left_navi:hover{
	text-shadow: 1px 1px 10px #FF1414;
	transition: all 0.4s linear;
}

.right_navi{
	width: 60%;
	float: right;
	margin-right: 10px;
}

.right_navi ul li{
	float: right;
	display: inline-block;
}

.right_navi li{
	width: 120px;
	background: #FAFAFA;
	margin-top: -20px;
	margin-right: 45px;
	letter-spacing: 4px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;
	font-size: 18pt;
	transition: all 0.2s linear;
}

.right_navi li:hover{
	background: #1C1C1C;
	color: white;
	text-shadow: 1px 2px 2px #FF1414;
	transition: all 0.2s linear;
}

/* =======================================
   > Content Wrappers Below Top Navi
   =======================================
*/

.content_wrapper{
	width: 70%;
	margin: 0 auto;
	margin-top: 10px; 	
	padding: 5px;
}

.media_slider{
	width: 800px;
	height: 350px;
	margin: 0 auto;	
	padding: 5px;
	text-align: right;
	background: #121212;
	font-family: 'Roboto Condensed';
	color: white;
	text-transform: uppercase;
	position: relative;
	text-shadow: 1px 1px 1px white;
}

.media_slider_content{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	font-size: 9pt;
	font-family: 'Lato';
	padding: 10px;
	letter-spacing: 3px;
}

.media_slider_header{
	font-size: 20pt;
	letter-spacing: 3px;
}

.under_wrapper{
	width: 800px;
	background-color: rgba(0, 0, 0, .90);
	padding: 5px;
	margin: 0 auto;
	font-family: 'Lato';
	font-size: 12pt;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px 1px white;
	letter-spacing: 4px;
	color: white;
	transition: all 0.2s linear;
}

.under_wrapper:hover{
	text-shadow: 1px 1px 1px #FF1414;
	transition: all 0.2s linear;
}

/* =======================================
   > Internal Content
   =======================================
*/

.content_internal{
	width: 800px;
	height: 460px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	background: rgba(255, 255, 255, .80);
	margin: 0 auto;
	overflow: auto;
}

.news_wrapper{
	width: 50%;
	height: 400px;
	float: left;
	padding: 5px;
	overflow-y: scroll;
}

.news_header{
	font-family: 'Roboto Condensed';
	font-size: 15pt;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 1px 1px #FF1414;
	font-weight: bolder;
	border-bottom: 2px solid black;
	padding-bottom: 2px;
	margin-bottom: 3px;
}

.news_wrapper p{
	margin-top: 0;
	font-family: 'Lato';
	font-size: 11pt;
	text-align: justify;
}

.side_contents{
	width: 45%;
	float: right;
}

.download{
	width: 50%;
	background: white;
	padding: 10px;
	text-shadow: 1px 1px black;
	margin: 0 auto;
	font-family: 'Roboto Condensed';
	font-size: 14pt;
	text-align: center;
	color: black;
	text-transform: uppercase;
	letter-spacing: 3px;
	box-shadow: 1px 3px 10px black;
	border-radius: 2px;
	transition: all 0.2s linear;
}

.download:hover{
	background: #000;
	text-shadow: 1px 1px #FF1414;
	color: white;
	transition: all 0.2s linear;
	box-shadow: 1px 3px 10px red;
}

.misc_media{
	width: 95%;
	height: 100px; 
	background: #121212;
	margin: 0 auto;	
	margin-top: 20px;
	box-shadow: 1px 1px 10px black;
	padding: 5px;
	font-family: 'Roboto Condensed';
	color: white;
	text-transform: uppercase;
	position: relative;
	text-shadow: 1px 1px 1px white;
	overflow: auto;
}

.misc_content{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}

.misc_header{
	font-size: 14pt;
}

/* =======================================
   > Copyright & Update Widget
   =======================================
*/

.copyright{
	width: 100%;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .80);
	margin-top: 30px;
	padding: 10px;
	font-family: 'Lato';
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px white;
	font-size: 10pt;
}