a, a:hover, a:visited, a:focus{
	text-decoration: none;
	color: none;
}

body, html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url(../images/chicago_in_ruins_edited.jpg);
	background-size: 100% auto;
}

/* =======================================
   > Top Navigation
   =======================================
*/

.top_navi{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	background: #1C1C1C;
	padding: 6px;
	font-family: 'Roboto Condensed';
	font-size: 20pt;
	color: white;
	overflow: auto;
}

.left_navi{
	width: 35%;
	float: left;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 17px;
	text-shadow: 1px 1px 2px white;
	transition: all 0.4s linear;
	text-align: center;
}

.left_navi:hover{
	text-shadow: 1px 1px 10px #FF1414;
	transition: all 0.4s linear;
}

.right_navi{
	width: 60%;
	float: right;
	margin-right: 10px;
}

.right_navi ul li{
	float: right;
	display: inline-block;
}

.right_navi li{
	width: 120px;
	background: #FAFAFA;
	margin-top: -20px;
	margin-right: 45px;
	letter-spacing: 4px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;
	font-size: 18pt;
	transition: all 0.2s linear;
}

.right_navi li:hover{
	background: #1C1C1C;
	color: white;
	text-shadow: 1px 1px 10px #FF1414;
	transition: all 0.2s linear;
}

/* =======================================
   > Content Wrappers Below Top Navi
   =======================================
*/

.content_wrapper{
	width: 70%;
	margin: 0 auto;
	margin-top: 10px; 	
	padding: 5px;
}

.content_internal{
	width: 800px;
	height: 460px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	background: rgba(255, 255, 255, .80);
	margin: 0 auto;
	overflow: auto;
}

/* =======================================
   > Copyright & Update Widget
   =======================================
*/

.copyright{
	width: 100%;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .80);
	margin-top: 30px;
	padding: 10px;
	font-family: 'Lato';
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px white;
	font-size: 10pt;
}