a, a:hover, a:visited, a:focus{
	text-decoration: none;
}

body, html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: #FAFAFA;
}

@media (max-width: 600px){
	
}

.top_navi{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	background: #000;
	padding: 6px;
	font-family: 'Roboto Condensed';
	font-size: 20pt;
	color: white;
	overflow: auto;
}

.left_navi{
	width: 35%;
	float: left;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 17px;
	text-shadow: 1px 1px 2px white;
	transition: all 0.4s linear;
	text-align: center;
}

.left_navi:hover{
	text-shadow: 1px 1px 10px white;
	transition: all 0.4s linear;
}

.right_navi{
	width: 60%;
	float: right;
	margin-right: 10px;
}

.right_navi ul li{
	float: right;
	display: inline-block;
}

.right_navi li{
	width: 120px;
	background: #FAFAFA;
	margin-top: -20px;
	margin-right: 45px;
	letter-spacing: 4px;
	text-align: center;
	color: black;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;
	font-size: 18pt;
	transition: all 0.4s linear;
}

.right_navi li:hover{
	background: #000;
	color: white;
	text-shadow: 1px 2px 2px white;
	transition: all 0.4s linear;
}

.content_wrapper{
	width: 70%;
	margin: 0 auto;
	margin-top: 10px; 	
	padding: 5px;
}

.media_slider{
	width: 750px;
	height: 300px;
	margin: 0 auto;
	padding: 5px;
	text-align: right;
	background: #121212;
	font-family: 'Roboto Condensed';
	color: white;
	text-transform: uppercase;
	position: relative;
}

.media_slider_content{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	font-size: 9pt;
	font-family: 'Lato';
	padding: 10px;
	letter-spacing: 3px;
}

.media_slider_header{
	font-size: 20pt;
	letter-spacing: 3px;
}
